<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="warning">
      𝕖𝕤𝕥𝕠𝕢𝕦𝕖
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small" color="tertiary">𝕖𝕤𝕥𝕠𝕢𝕦𝕖</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <div id="container">
    <ion-button size="" color="tertiary"  fill="outline" routerLink="/lista/"><ion-icon slot="icon-only" name="storefront-outline" color="warning"></ion-icon>ㅤ𝙥𝙧𝙤𝙙𝙪𝙩𝙤𝙨</ion-button>
  </div>
</ion-content>